      <header>
        <div class="cell">
          <img id="imgSWTOR" src=@Href("content/images/logo_TOR.png") alt="SWTOR" />
        </div>
        <div class="cell" style="vertical-align: middle">
          <h2><a href=@Href("~/")>The Great Holocron</a></h2>
          <h5>Data and tools for Star Wars : The Old Republic</h5>
        </div>
        <hr />
      </header>
      <nav>
        <ul>
          <li>
            <a>Character Info</a>
            <ul>
              <li><a href="~/player/species">Species</a></li>
              <li><a href="~/player/classes">Classes</a></li>
              <li><a href="~/">Attributes</a></li>
              <li><a href="~/player/companions">Companions</a></li>
            </ul>
          </li>
          <li>
            <a href=@Href("~/locations")>Non-Player Characters</a>
            <ul></ul>
          </li>
          <li>
            <a href=@Href("~/missions")>Missions</a>
            <ul></ul>
          </li>          <li>
            <a>Locations</a>
            <ul>
              <li><a href="~/locations/planets">Planets</a></li>
              <li><a href="~/">Fleets</a></li>
              <li><a href="~/">Player Ships</a></li>
              <li><a href="~/">Flashpoints</a></li>
              <li><a href="~/">Operations</a></li>
              <li><a href="~/">Warzones</a></li>
            </ul>
          </li>
          <li>
            <a href=@Href("~/items")>Items</a>
            <ul></ul>
          </li>
          <li>
            <a href=@Href("~/codex")>Codex</a>
            <ul></ul>
          </li>
        </ul>
      </nav>
